@import "reset";
@import "responsive";

body {
  background: black;
}

.App {
  font-size: 20px;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  @import "./components/Form";
  @import "./components/Help";
}
